/*
 *Name: Callie Masella
 *UnityID: cedompie
 *Date: April 9
 *Assignment: Guided Lab 4
 *Description: Guided Lab assignment about me webpage
 */
 
p {
    Font-family: Times;
    Font-size: 16px;
    color:#decaff;
}

.table-boarder {
    border: 1px solid #decaff;
}

#photo-resize {

    max-width:250px;
    max-height: 300px;
} 
